@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;


}
body{

    background-color: rgb(218, 221, 223);

}

.container{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;



}

.box{

    background-color: #f0efed;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 3px 3px 35px -19px rgba(0,0,0,0.8);

}


/*form*/
.form-box{
    width: 450px;
    margin: 0px 10px;
}

/*form .button-field*/
.form-box form .button-field{
    
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    margin-top: 10px;
    
    
    
}

.form-box header{

    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0de;
    margin-bottom: 10px;

}
/*.input-field input*/
.form-box form .input-field input{

    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;


}


.btn{

    height: 35px;
    background: rgb(82, 218, 82) ;
    border: 0;
    border-radius: 5px;
    color: #181817;
    font-size: 15px;
    transition: all .2s;
    cursor: pointer;
    padding: 0px 10px;
}

.btn:hover{

    opacity: 0.8;
    background-color: rgb(41, 196, 41);


}

.links{

    margin-bottom: 15px;

}
.submit{
    width: 100%;
}


/* menu --- */

.nav{

    background-color: #f0efec;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
/*pensar em um nome pra logo*/
.logo{

    
    font-size: 25px;
    font-weight: 900;

}

/*link da logo*/

.logo a{

text-decoration: none;
color: rgb(14, 13, 13);

}

.right-links a{

    padding: 0 10px;


}


main{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

}
/* main-box top
*/

.main-box{

    display: flex;
    flex-direction: column;
    width: 70%;


}


.main-box .top{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.bottom{

    width: 100%;
    margin-top: 20px;

}


@media only screen and (max-width:840px){

    .main-box .top{

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .top .box{

        margin:10px 10px;


    }

    .bottom{

        margin-top: 0;

    }




}

.main-box .bottom .box{

    margin: 7px;

}


.main-box .top .box{

    width: 100%;
    margin: 7px;

}